Package: com.peterdev.powerguard
Name: PowerGuard
Depends: mobilesubstrate, com.creaturecoding.libcspreferences
Version: 0.0.1
Architecture: iphoneos-arm
Description: Prevent someone from turning off your iOS device.
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
Depiction: https://nexusrepo.kro.kr/depiction/com.peterdev.powerguard/
Icon: https://nexusrepo.kro.kr/depiction/icons/powerguard.png