<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>
		    <!--Features-->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>FEATURES</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>ENABLE</string>
				<key>key</key>
				<string>kEnable</string>
				<key>isGroupToggle</key>
				<false/>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kSilentToggle</string>
				<key>label</key>
				<string>SILENT_TO_LOCK</string>
				<key>sublabel</key>
				<string>TOGGLE_WITH_SILENT_MODE</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kBioProtect</string>
				<key>label</key>
				<string>PROTECT_WITH_BIO</string>
				<key>sublabel</key>
				<string>ONLY_SUPPORT_BIO</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>

			<!--Credits-->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>PeterDev © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>SUPPORT</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>label</key>
				<string>BACKUP_AND_RESTORE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPChangeLogController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>CHANGELOG</string>
				<key>changes</key>
				<array>
					<dict>
						<key>Version 0.0.1</key>
						<array>
							<string>Beta Testing.</string>
						</array>
					</dict>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Power Guard</string>
	</dict>
</plist>
