<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>220</string>
				<key>static</key>
				<true/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/PowerGuardPrefs.bundle/PowerGuardBanner@3x.png</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/PowerGuardPrefs.bundle</string>
			</dict>

		    <!--Features-->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>FEATURES</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>ENABLE</string>
				<key>key</key>
				<string>kEnable</string>
				<key>isGroupToggle</key>
				<false/>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kProtectMenu</string>
				<key>label</key>
				<string>PROTECT_THE_MENU</string>
				<key>sublabel</key>
				<string>PROTECT_THE_POWER_DOWN_MENU</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kProtectSlider</string>
				<key>label</key>
				<string>PROTECT_THE_SLIDER</string>
				<key>sublabel</key>
				<string>PROTECT_SLIDER_IN_THE_MENU</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kSilentToggle</string>
				<key>label</key>
				<string>SILENT_TO_LOCK</string>
				<key>sublabel</key>
				<string>TOGGLE_WITH_SILENT_MODE</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>kBioProtect</string>
				<key>label</key>
				<string>PROTECT_WITH_BIO</string>
				<key>sublabel</key>
				<string>ONLY_SUPPORT_BIO</string>
				<key>placeholder</key>
				<string>placeholder</string>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>defaults</key>
				<string>com.peterdev.powerguard</string>
			</dict>

			<!--Credits-->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>PeterDev © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>SUPPORT</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>com.peterdev.powerguard.prefschanged</string>
				<key>label</key>
				<string>BACKUP_AND_RESTORE</string>
			</dict>
		</array>
		<key>title</key>
		<string>PowerGuard</string>
	</dict>
</plist>
